# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 3rd-dependencies
node_modules

# Output files
dist
coverage
dist-ssr
*.local
stats.html
dependencies.svg
storybook-static

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml